/*-----------------------------------------------
*   Colors
-----------------------------------------------*/
/*	main blue: #1f3d7a;


/*-----------------------------------------------
*   Container size
-----------------------------------------------*/


@media (min-width: 1200px) {
    .container {
        max-width: 1090px;
    }
}


/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/
/* navbar styling */

.navbar-custom {
	background-color: #1f3d7a;
}

.navbar .navbar-brand {
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
	padding-bottom: 0px;
}

.nav-item {
	color: #ffffff !important;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
}

/* navbar active link effect */

.navbar-collapse .navbar-nav .active {
    color: #000000 !important;
    background-color: #ffffff;
}

/* navbar links hover and focus effect */

.navbar .navbar-brand:hover {
	color: #ffffff;
	text-shadow: 0px 0px 6px #ffffff;
}

.navbar-nav .nav-item:hover  {
	color: #000000 !important;
	background-color: #ffffff;
}

/* navbar items align to the right side */

.ml-auto {
	left: auto !important;
    right: 10px;
}

/* navbar toggler */

.navbar-toggler {
	border: 2px solid #ffffff !important;
	margin-bottom: 5px;
	width: 58px;
}

.navbar-toggler:hover {
	background-color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler:hover .navbar-toggler-icon, .custom-toggler:focus .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*-----------------------------------------------
*   Container
-----------------------------------------------*/

/*main structure of website */
body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top: 66px;
	position: relative
}

section {
	display: block;
}

h1 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}

h1::after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1.8px;
	width: 20%;
	left:0;right:0;margin:0 auto;
	background: #1f3d7a;
    z-index: 1;
    
    
}

/* scroll to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 150px;
    z-index: 99;
    background-color: #1f3d7a;
    border-radius: 50%;
    border-color: #ffffff;
    padding-bottom: 10px;
}

#myBtn:hover {
    background-color: #ffffff;
    border: 1px solid #1f3d7a;
    color: #1f3d7a;
}

/* home */

#home {
	background-color: #1f3d7a;
	min-height: :100vh;
	margin: 0;
}

#home p {
	color: #4976d0;
	font-size: 16px;
	font-weight: 100;
	line-height: 24px;
	margin-bottom: 5px;
	transition: 0.4s;
}


#home p:hover {
	color: #ffffff;
}

#home strong {
	color: #ffffff;
	font-size: 1.6em;
}

.ind2 {
	padding-left: 20px;
}
.ind3 {
	padding-left: 40px;
}
.ind4 {
	padding-left: 60px;
}
.ind5 {
	padding-left: 80px;
}

/* about */

.crop {
	border: 1.5px solid #1f3d7a;
	border-radius: 50%;
	box-shadow: -3px 5px 18px 0px #888888;
	height: 200px;
	overflow: hidden;
	width: 200px;
}

#about img {
		height: 220%;
		margin: -170px 0 0 -210px;
		width: auto;
}

#about p {
	font-size: 16px;
	line-height: 24px;
}

.btn-outline-primary {
    color: #1f3d7a;
    background-color: transparent;
    background-image: none;
    border-color: #1f3d7a;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    background-color: #1f3d7a;
    }

/* portfolio */

.crop-doggo {
	border: 1.5px solid #1f3d7a;
	border-radius: 50%;
	display: block;
	height: 350px;
	overflow: hidden;
	width: 350px;
}

/* contact */

h5 {
	margin: 10px 10px;
}

#contact h5:hover {
	color: #1f3d7a;
	}

.contact-icon a {
	color: #1f3d7a;
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	margin: 30px 30px;
	text-align: center;	
	transition: 0.2s;
}

.contact-icon a:hover {
	color: #5d85d5;
	font-size: 14px;
	}

/* footer */

#footer {
	background-color: #1f3d7a;
	margin: 5px 0 0 0 ;
	padding: 5px 0 10px 0;
}

#footer ul {
	display: inline-block;
	margin-bottom: 5px;
	padding: 0;
}

#footer li {
	display: inline;
	margin: 0 10px;
}

#footer a {
	color: #4976d0;
	font-size: 16px;
	transition: 0.2s;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: none;
}

#footer h2 {
	color: #4976d0;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
}



