





/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/

.navbar .navbar-nav > li > a:hover  {
	color: #000;
	background-color: #fff;
}


/*-----------------------------------------------
*   Container
-----------------------------------------------*/
body {

	
	background-color: #fff;
	padding-top: 70px;
}

.link:hover {

}