





/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/
/* navbar styling */
nav.navbar {
	background-color: #3366cc;
	border: 0;
}




/* navbar active button effect */
/*if ain't working later, try add .navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #ffffff;
}
/* navbar buttons hover and focus effect */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus  {
	color: #00000;
	background-color: #ffffff;
}


/*-----------------------------------------------
*   Container
-----------------------------------------------*/
body {

	
	background-color: #ffffff;
	padding-top: 70px;
}

.link:hover {

}